<h1>Adverts</h1>
<% @adverts.each do |advert| %>
<table>
  <tr>
    <td width="20%">
      <% if advert.top %>
        <div><span class="icon" title="ТОП">TOP</span></div>
      <% end %>
      <%= advert.picture %>
    </td>
    <td>
      <h3><%= advert.title %></h3>
      <div class="bottom-cell"><%= advert.address %> <%= advert.created_at %>
      </div>
    </td>
    <td width="10%"><div class="price"><%= advert.price %></div>
      <div class="price_arranged"><%= advert.price_arranged %>
        <div><%= toggle_favorite(advert) %></div>
      </div>
    </td>
  </tr>
</table>
<% end %>

